:root {
  --color-white: #ffffff;
  --danger-color: #f44336;
  --color-accent: #6534ff;
  --color-light-gray: #f7f7f8;
  --color-light: #fafafa;
  --color-gray: #c3c3c6;
  --color-dark-gray: #55555c;
  --color-primary: #363537;
  --color-border: #97979b;
  --color-black: #050510;
  --color-danger: #f44336;
}
